
body {
  font-family: 'Poppins';
  color: #222;
   
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.left-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #525251;
  }
  
  .right-column {
    color: #2c2f3d;
    max-height: 100vh;
    overflow-y: scroll;
    padding: 1rem;
    scrollbar-width: none;
    -ms-overflow-style: none;
  }

.container {
  display: flex;
}

.image-container {
  flex-basis: calc(8% - 20px);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.styled-image {
  width: 50vh;
  height: auto;
  border-radius: 8px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease;
  cursor: pointer;
}

.styled-image:hover {
  transform: scale(1.05);
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.3);
}

button {
  padding: 0.5rem 1rem;
  border: none;
  cursor: pointer;
  font-family: Poppins;
}

input[type="file"] {
  display: none;
}

.clickable-text {
  font-size: 14px;
  color: white;
  cursor: pointer;
}


.do-it-button {
    margin:10px;
    font-size: 18px;
    font-family: 'classic notes';
    color: white;
    background-color: transparent;
}

.right-column::-webkit-scrollbar {
  display: none;
}

.right-column h2 {
  margin-top: 0;
}

.button-container {
  display: flex;
  align-items: center;
  padding: 14px;
  display: flex;
  margin-bottom: 10px;
  justify-content: space-between;
  width: -webkit-fill-available;
}

.color-palette ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
}

.color-palette li {
  width: 130px;
  height: 180px;
  margin: 10px;
  cursor: pointer;
  border-radius: 8px;
  font-family: Poppins;
  font-weight: 700;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.color-box {
  margin-bottom: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  width: 100%;
  height: 70%;
}

.code {
  padding-left: 10px;
  width: 92%;
  height: 15%;
  font-size: 12px;
  color: #3b393b;
  box-shadow: 0px 5px 4px rgba(0, 0, 0, 0.3);
  background-color: white;
}
.upload-icon {
    cursor: pointer;
  width: 15%;
  animation: iconScale 2s infinite alternate;
}

@keyframes blink {

  from,
  to {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }
}


@keyframes iconScale {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(1.1);
  }
}

.upload-btn {
  background-color: transparent;
  width: 70vh;
  margin: 10px;
}
@font-face {
  font-family: "classic notes";
  src: url("Classic Notes.ttf") format("truetype");
}

.footer-icon {
  width: 100vh;
  text-align: center;
  font-family: 'classic notes';
}

header {
  background-color: #93938A;
  color: white;
  padding: 1rem 0;
  font-family: Poppins;
  font-weight: bold;
}
.heading {
  font-size: 27px;
  font-weight: bold;
  font-family: 'classic notes';
}

.left-header {
  font-family: 'classic notes';
  color: white;
  font-size: 20px;
  padding: 10px;
}
.last-sec {
    padding:10px;
  width: 70vh;
  margin-top:50px;
  display: flex;
}
.second-sub {
  display: flex;
  flex-direction: column;
}

.need-sample {
  font-family: 'classic notes';
  color: white;
  margin-top: 10px;
}
.need-sample-2 {
  font-family: 'classic notes';
  color: white;
}
.sample-image {
  width: 50vh;
  display: flex;
  justify-content: space-around;
}

.sample-img {
  width: 55px;
  height: 55px;
  margin: 10px;
  border-radius: 8px;
  object-fit: cover;
  cursor: pointer;
  cursor: pointer;
  transition: width 0.3s, height 0.3s;
}
.sample-img:hover {
  width: 60px;
  height: 60px;
}

@media (max-width: 768px) {
  
  .container {
    flex-direction: column;
  }

  .left-column,
  .right-column {
    width: 100%;
  }

  .left-column {
    order: 1; /* Set the order for left-column to come first */
  }

  .right-column {
    order: 2; /* Set the order for right-column to come second */
  }

  .styled-image {
    width: 40vh;
  }

  .last-sec {
    width: 52vh;
  }

  .button-container {
    display: flex;
    flex-direction: column;
  }

  .last-sec {
    margin-top:0px;
    padding-left:3em;
    flex-direction: column; /* Stack elements vertically */
  }

  .second-sub {
    padding-left: 10px;
    width: 40vh;
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .need-sample {
    margin-top:0px;
    margin-right: 10px;
  }

  .sample-image {
    width: 40vh;
    display: flex; /* Display the four images in a row */
  }

  .sample-img {
    flex: 1; /* Distribute available space equally */
    max-width: 100%; /* Ensure images don't exceed container width */
  }
.image-container {
  margin-top:15px
}
.clickable-text {
  font-size:15px;
}
}
